on: push
#  pull_request:
#    types: [ opened, synchronize, reopened ]
#  push:
#    branches:
#      - "master"
#    tags:
#      - "**"

name: "Continuous Integration"

jobs:
  build:
    runs-on: "ubuntu-latest"
    
    strategy:
      matrix:
        java-version:
          - "11"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
        
      - name: "Fetch tags"
        run: "git fetch --tags"

      - name: "Setup JDK"
        uses: "actions/setup-java@v2"
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file
          
          #- name: "Configure Git user"
          #  run: |
          #      git config user.email "actions@github.com"
          #      git config user.name "GitHub Actions"

      - name: "Build master with Gradle"
        if: github.ref == 'refs/heads/master'
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build -Preckon.stage=final

      - name: "Build with Gradle"
        if: github.ref != 'refs/heads/master'
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - name: "Publish with Gradle"
        if: github.ref == 'refs/heads/master'
        uses: gradle/gradle-build-action@v2
        with:
          arguments: reckonTagPush publish -Preckon.stage=final
        env:
          GITHUB_USER: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
